body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: antiquewhite; */
  background-color: #f3f9fb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 80px auto 0 auto;
}

button {
  border-radius: 100px;
}

.paddedContainer {
  margin: 0 25%;
}

.previewImageGrid {
  display: flex;
}

.previewDiv {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.previewGrid {
  display: flex;
  flex-wrap: wrap;
}

.previewImage {
  width: 24%;
  height: 200px;
  margin: 2px 0.33% 2px 0.33%;
  border-radius: 10px;
  /* flex-grow: 2; */
}

.image {
  width: 60%;
  height: 500px;
  margin-bottom: 5px;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}

.priceDiv {
  text-align: right;
}

.cartItemImage {
  align-self: center;
  border-radius: 5px;
  width: 250px;
  height: 150px;
}

.divider {
  margin-top: 20px;
  margin-bottom: 15px;
}

/* Checkout */

.stepper {
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  padding: 24px 0 24px 0;
  margin: 20px 12%;

}

.contentDiv {
  margin: 30px 12%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 10px 30px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
}

.summaryHeader {
  background-color: rgba(0, 0, 0, 0.026);
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.headerTitle {
  font-size: 20px;
}

@media screen and (max-width: 720px) {

  .container {
    margin-top: 40px;
  }

  .paddedContainer {
    margin: 0;
  }

  .previewGrid {
    display: inline-flex;
    flex-wrap: nowrap;
  }

  .previewImage {
    width: 150px;
    height: 200px;
  }

  .image {
    width: 100%;
    height: 500px;
    border-radius: 5px;
  }

  .priceDiv {
    text-align: left;
  }

  .cartItemImage {
    height: 180px;
  }

  .divider {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .stepper {
    margin: 0
  }

  .contentDiv {
    margin: 20px 0;
    padding: 15px;
  }

  .summaryHeader {
    padding: 10px 15px;
    margin-bottom: 10px;
  }

  .headerTitle {
    font-size: 15px;
  }

}